.card{
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.card-img-top{
    height:220px;
    object-fit:cover;
}

.card-title{
    font-weight:700;
}

.badge{
    font-size:13px;
    margin-right:5px;
}

.btn{
    border-radius:10px;
}